---
layout: default
---

{% include lang.html %}

<article class="home-page px-1">
  <section class="home-intro">
    <p>
      I am a researcher working on applied problems in global health,
      epidemiology, and development economics, with a PhD in statistics. I am a
      Consulting Director at the
      <a href="https://bfi.uchicago.edu/news/dil-launch/">Development Innovation Lab at the University of Chicago</a>,
      a Non-resident Research Fellow at the
      <a href="https://www.cgdev.org/">Centre for Global Development</a>,
      and a Senior Fellow at the
      <a href="https://ifp.org/">Institute for Progress</a>.
      I occasionally blog at
      <a href="https://www.clinicaltrialsabundance.blog/">Clinical Trials Abundance</a>
      and <a href="https://statmodeling.stat.columbia.edu/">Andrew Gelman's blog</a>.
    </p>
  </section>

  <section class="newsletter-callout" aria-labelledby="newsletter">
    <div>
      <h1 id="newsletter">Monthly newsletter</h1>
      <p>I have a monthly newsletter with work/life updates.</p>
    </div>
    <a class="newsletter-button" href="https://buttondown.com/witold">Subscribe</a>
  </section>

  <section class="home-section" aria-labelledby="recent-writing">
    <div class="home-section-heading">
      <h1 id="recent-writing">Recent Writing</h1>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
    </div>

    <ul class="recent-posts">
      {% for post in site.posts limit: 3 %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: '%-d %B %Y' }}
          </time>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section class="home-section" aria-labelledby="recent-projects">
    <div class="home-section-heading">
      <h1 id="recent-projects">Recent Projects</h1>
    </div>

    <p class="section-note">
      <em>
        You can see more of my current ideas in my
        <a href="https://docs.google.com/document/d/1g6YOdmsPgeemeGUmMTiw8ApoMi94JTIfbU-tRSuzGVY/edit?usp=sharing">Working In Public Doc</a>.
      </em>
    </p>

    <ul class="compact-list">
      <li>
        <a href="https://witold.xyz/BEAR/">BEAR</a>, an open-source
        meta-dataset of empirical research results for meta-science.
      </li>
      <li>
        <a href="https://www.nber.org/papers/w30835">Water meta-analysis</a>
        on water quality interventions and child mortality.
      </li>
      <li>
        <a href="https://www.cgdev.org/publication/more-from-less-optimising-vaccines-constrained-world">Optimising dosing of vaccines</a>,
        policy work on vaccine dosing when supply is constrained.
      </li>
      <li>
        R package <a href="https://github.com/wwiecek/baggr">baggr</a> for
        fitting Bayesian meta-analytic models with Stan.
      </li>
    </ul>
  </section>

  <section class="home-section" aria-labelledby="recent-papers">
    <div class="home-section-heading">
      <h1 id="recent-papers">Recent Papers</h1>
    </div>

    <ul class="compact-list paper-list">
      <li>
        <a href="{{ '/posts/bayesian-fda-guidance/' | relative_url }}">Bayesian
        clinical trials and the FDA</a>. <em>JAMA</em>, 2026.
      </li>
      <li>
        <a href="https://statmodeling.stat.columbia.edu/2024/02/27/publication-bias-in-meta-analysis/">Publication
        bias in meta-analysis</a>. <em>Statistical Modeling, Causal Inference,
        and Social Science</em>, 2024, with Andrew Gelman and Erik van Zwet.
      </li>
      <li>
        <a href="{{ '/posts/pub-bias-meta-analysis/' | relative_url }}">Meta-analysis
        with a single study</a>. Working paper, 2025, with Andrew Gelman and
        Erik van Zwet.
      </li>
    </ul>
  </section>
</article>
